<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce">

	<listeners>
		<listener class-name="utilites.Reporting" />
	</listeners>
	<test name="Test1">
		<parameter name="browser" value="chrome" />
		<classes>
			 <class name="testCases.TC_LoginTest_001"></class>
			<!-- <class name ="testCases.TC_LoginTest_002"></class> -->
			<!-- <class name="testCases.TC_AddCustomerTest_003"></class> -->
		</classes>
	</test>

	<!-- <test name="Test2"> <parameter name="browser" value="firefox" /> <classes> 
		<class name="testCases.TC_LoginTest_001"> </class> </classes> </test> -->

</suite>

